<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head> 
<style>
    h1{
        background-color: aqua; 
        width: 100; 
        height: 100;
    }
</style>
<body> 
    <center> 
        <h1>Papikonda forest in Andhra</h1>  
        <img src="https://forests.ap.gov.in/images/resource/papikondalu.jpg" alt="">
        <img src="https://www.shutterstock.com/image-photo/papikonda-national-park-forest-road-260nw-1756217537.jpg" alt=""> 
        <img src="https://www.holidify.com/images/cmsuploads/compressed/PapikondaWildlifee_20200528103956_20200528113641.jpg" alt=""> 

    </center>
    
</body>
</html>